<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Iniciar sesion</h2>

    <form #formUsuario="ngForm" (ngSubmit)="onSubmit()" id="form-login" class="login-container">
        <p><input type="text" #login="ngModel" name="login" [(ngModel)]="formulario.login" placeholder="Usuario"></p>
        <p><input type="password" #password="ngModel" name="password" [(ngModel)]="formulario.password" placeholder="Password"></p>
        <p><input type="submit" value="Iniciar sesion"></p>
    </form>
</div>