<div *ngIf="estatus != 0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/inicio']" [routerLinkActive]="['activado']">Inicio <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/empresa']" [routerLinkActive]="['activado']">Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/usuarios']" [routerLinkActive]="['activado']">Usuarios</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="cerrarsesion()">Cerrar session</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="col-md-8 offset-md-2">

    <h3>{{titulo}}</h3>

    <!-- <button data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"
            aria-hidden="true"></i></button> -->

    <button nz-button [nzType]="'primary'" (click)="showModal()"><i class="fa fa-plus" aria-hidden="true"></i></button>

    <div *ngIf="!empresas">
        Cargando listado...
    </div>
    <div *ngIf="empresas">
        <nz-table #basicTable [nzData]="empresas">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>RFC</th>
                    <th>Domicilio</th>
                    <th>Estatus</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.id }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.rfc }}</td>
                    <td>{{ data.domicilio }} {{ data.municipio }} {{ data.estado }} {{ data.cp }}</td>
                    <td><span *ngIf="data.activa == 1">Activa</span> <span *ngIf="data.activa == 0">Baja</span></td>

                    <td>
                        <a
                            (click)="editar( data.id,data.nombre,data.rfc,data.domicilio,data.municipio,data.estado,data.cp,data.activa )">Editar</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="eliminar( data.id )">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Registro nuevo" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div>
        <form #formEmpresa="ngForm" (ngSubmit)="onSubmit()" id="form-empresa">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputnombre">Nombre
                        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es
                            obligatorio</span>
                    </label>
                    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="formulario.nombre"
                        class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputrfc">RFC
                        <span *ngIf="!rfc.valid && rfc.touched" class="label label-danger">El RFC es obligatorio</span>
                    </label>
                    <input type="text" #rfc="ngModel" name="rfc" [(ngModel)]="formulario.rfc" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputprecio">Domicilio
                        <span *ngIf="!domicilio.valid && domicilio.touched" class="label label-danger">El domicilio no
                            es correcto</span>
                    </label>
                    <input type="text" #domicilio="ngModel" name="domicilio" [(ngModel)]="formulario.domicilio"
                        class="form-control" placeholder="Colima" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputmunicipio">Municipio
                        <span *ngIf="!municipio.valid && municipio.touched" class="label label-danger">El municipio es
                            obligatoria</span>
                    </label>
                    <input type="text" #municipio="ngModel" name="municipio" [(ngModel)]="formulario.municipio"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputestado">Estado
                        <span *ngIf="!estado.valid && estado.touched" class="label label-danger">El estado es
                            obligatorio</span>
                    </label>
                    <input type="text" #estado="ngModel" name="estado" [(ngModel)]="formulario.estado"
                        class="form-control" placeholder="Colima" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputcp">CP
                        <span *ngIf="!cp.valid && cp.touched" class="label label-danger">El cp es obligatorio</span>
                    </label>
                    <input type="text" #cp="ngModel" name="cp" [(ngModel)]="formulario.cp" class="form-control"
                        required>
                </div>
            </div>
            <input type="submit" value="{{titulo}}" [disabled]="!formEmpresa.form.valid" class="btn btn-success">
        </form>
    </div>
</nz-modal>


<nz-modal [(nzVisible)]="isVisibleM" nzTitle="Modificar registro" (nzOnCancel)="handleCancelM()" (nzOnOk)="handleOkM()">
    <div>
        <form #formEmpresaModificar="ngForm" id="form-empresa-modificar">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputnombre">Nombre
                        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es
                            obligatorio</span>
                    </label>
                    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="formulario.nombre"
                        class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputrfc">RFC
                        <span *ngIf="!rfc.valid && rfc.touched" class="label label-danger">El RFC es obligatorio</span>
                    </label>
                    <input type="text" #rfc="ngModel" name="rfc" [(ngModel)]="formulario.rfc" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputprecio">Domicilio
                        <span *ngIf="!domicilio.valid && domicilio.touched" class="label label-danger">El domicilio no
                            es correcto</span>
                    </label>
                    <input type="text" #domicilio="ngModel" name="domicilio" [(ngModel)]="formulario.domicilio"
                        class="form-control" placeholder="Colima" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputmunicipio">Municipio
                        <span *ngIf="!municipio.valid && municipio.touched" class="label label-danger">El municipio es
                            obligatoria</span>
                    </label>
                    <input type="text" #municipio="ngModel" name="municipio" [(ngModel)]="formulario.municipio"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputestado">Estado
                        <span *ngIf="!estado.valid && estado.touched" class="label label-danger">El estado es
                            obligatorio</span>
                    </label>
                    <input type="text" #estado="ngModel" name="estado" [(ngModel)]="formulario.estado"
                        class="form-control" placeholder="Colima" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputcp">CP
                        <span *ngIf="!cp.valid && cp.touched" class="label label-danger">El cp es obligatorio</span>
                    </label>
                    <input type="text" #cp="ngModel" name="cp" [(ngModel)]="formulario.cp" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputestatus">Estatus
                        <span *ngIf="!activa.valid && activa.touched" class="label label-danger">El cp es
                            obligatorio</span>
                    </label>
                    <select #activa=ngModel name="activa" [(ngModel)]="formulario.activa" class="form-control">
                        <option selected>Seleccionar</option>
                        <option value="1">Activa</option>
                        <option value="0">Baja</option>
                    </select>
                </div>
            </div>
            <input type="button" (click)="actualizar()" value="Modificar {{titulo}}"
                [disabled]="!formEmpresaModificar.form.valid" class="btn btn-success">
        </form>
    </div>
</nz-modal>