<div *ngIf="estatus != 0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/inicio']" [routerLinkActive]="['activado']">Inicio <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/empresa']" [routerLinkActive]="['activado']">Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/usuarios']" [routerLinkActive]="['activado']">Usuarios</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="cerrarsesion()">Cerrar session</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div id="main">
    <div class="fof">
        <h1>Error 404</h1>
    </div>
</div>