<div *ngIf="estatus != 0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/inicio']" [routerLinkActive]="['activado']">Inicio <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/empresa']" [routerLinkActive]="['activado']">Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/usuarios']" [routerLinkActive]="['activado']">Usuarios</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="cerrarsesion()">Cerrar session</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="col-md-8 offset-md-2">

    <h3>{{titulo}}</h3>

    <!-- <button data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"
            aria-hidden="true"></i></button> -->

    <button nz-button [nzType]="'primary'" (click)="showModal()"><i class="fa fa-plus" aria-hidden="true"></i></button>

    <div *ngIf="!usuarios">
        Cargando listado...
    </div>
    <div *ngIf="usuarios">
        <nz-table #basicTable [nzData]="usuarios">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>login</th>
                    <th>perfil</th>
                    <th>Estatus</th>
                    <th>password</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.id }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.login }}</td>
                    <td>{{ data.perfil }}</td>
                    <td><span *ngIf="data.activo == 1">Activo</span> <span *ngIf="data.activo == 0">Inactivo</span></td>
                    <td>{{ data.password }}</td>
                    <td>
                        <a
                            (click)="editar( data.id,data.nombre,data.login,data.activo,data.perfil,data.password)">Editar</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="eliminar( data.id )">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Registro nuevo" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div>
        <form #formUsuario="ngForm" (ngSubmit)="onSubmit()" id="form-usuario">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputnombre">Nombre
                        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es
                            obligatorio</span>
                    </label>
                    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="formulario.nombre"
                        class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputlogin">Login
                        <span *ngIf="!login.valid && login.touched" class="label label-danger">El login es
                            obligatorio</span>
                    </label>
                    <input type="text" #login="ngModel" name="login" [(ngModel)]="formulario.login" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputperfil">Perfil
                        <span *ngIf="!perfil.valid && perfil.touched" class="label label-danger">El perfil no
                            es correcto</span>
                    </label>
                    <input type="text" #perfil="ngModel" name="perfil" [(ngModel)]="formulario.perfil"
                        class="form-control" placeholder="user" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputpassword">Password
                        <span *ngIf="!password.valid && password.touched" class="label label-danger">El password es
                            obligatoria</span>
                    </label>
                    <input type="text" #password="ngModel" name="password" [(ngModel)]="formulario.password"
                        class="form-control" required>
                </div>
            </div>
            <input type="submit" value="{{titulo}}" [disabled]="!formUsuario.form.valid" class="btn btn-success">
        </form>
    </div>
</nz-modal>


<nz-modal [(nzVisible)]="isVisibleM" nzTitle="Modificar registro" (nzOnCancel)="handleCancelM()" (nzOnOk)="handleOkM()">
    <div>
        <form #formUsuarioModificar="ngForm" id="form-empresa-modificar">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputnombre">Nombre
                        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es
                            obligatorio</span>
                    </label>
                    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="formulario.nombre"
                        class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputlogin">Login
                        <span *ngIf="!login.valid && login.touched" class="label label-danger">El login es
                            obligatorio</span>
                    </label>
                    <input type="text" #login="ngModel" name="login" [(ngModel)]="formulario.login" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputperfil">Perfil
                        <span *ngIf="!perfil.valid && perfil.touched" class="label label-danger">El perfil no
                            es correcto</span>
                    </label>
                    <input type="text" #perfil="ngModel" name="perfil" [(ngModel)]="formulario.perfil"
                        class="form-control" placeholder="user" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputpassword">Password
                        <span *ngIf="!password.valid && password.touched" class="label label-danger">El password es
                            obligatoria</span>
                    </label>
                    <input type="text" #password="ngModel" name="password" [(ngModel)]="formulario.password"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputestatus">Estatus
                        <span *ngIf="!activo.valid && activo.touched" class="label label-danger">El cp es
                            obligatorio</span>
                    </label>
                    <select #activo=ngModel name="activo" [(ngModel)]="formulario.activo" class="form-control">
                        <option selected>Seleccionar</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
            </div>
            <input type="button" (click)="actualizar()" value="Modificar {{titulo}}"
                [disabled]="!formUsuarioModificar.form.valid" class="btn btn-success">
        </form>
    </div>
</nz-modal>