<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->
<!-- <div *ngIf="estatus != 0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']" [routerLinkActive]="['activado']">Inicio <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresa']" [routerLinkActive]="['activado']">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuarios']" [routerLinkActive]="['activado']">Usuarios</a>
        </li>
      </ul>
    </div>
  </nav>
</div> -->


<router-outlet></router-outlet>